*{
	margin:0;
	padding:0;
	font-family: "Comic Sans MS", cursive;
}/*Quita las margenes por defecto del navegador*/
body {
	background:#FFFFFA;
}

a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#9C6;
}
img {
	display:block;
	width:80%;
	max-width:800px;
	height:auto;
	border-radius:2pt;
	margin:0px auto;
}
video {
	display:block;
	width:80%;
	margin:5% auto;
	max-width:600px;
	height:auto;
}

/*ESTILOS PARA LA TABLA*/

#contenedor {
    display: table;
    border: 2px solid #000;
    width: 333px;
    text-align: center;
    margin: 0 auto;
}

#contenidos {
    display: table-row;
}

#columna1, #columna2, #columna3 {
    display: table-cell;
    border: 1px solid #000;
    vertical-align: middle;
    padding: 10px;
}

/*FIN ESTILOS PARA LA TABLA*/

/*ESTILOS ESPECÍFICOS PARA EL CONTENIDO DEL INDEX DEL INICIO DE LA PAGINA*/
#portada {
	border-radius:15pt;
	max-width:400px;
}
#index {
	text-align:center;
}
#index h1, h2, h3, h4, h5 {
	color:#FF0;
}
#index h3 {
	margin-bottom:10px;
}
/*ESTILO PARA EL RESTO DE SECCIONES EN SU CONTENIDO*/
#index2 h1, h2, h3, h4, h5 {
	color:#FF0;
	text-align:center;
}
	
#index2 {
	text-align:justify;
}
#index2 img {
	width: 50%;
	max-width:600px;
	height:auto;
	border-radius:10pt;
}

/*TERMINA ESTILOS ESPECÍFICOS PARA LOS CONTENIDOS INDEX*/
/*  Div que encierra todo el contenido html  */
#contenido {
	text-align:center;
	width:90%;
	margin:0 auto;
}
/*  Banner  */
.cabecera img{
	width:90%;
	height:120px;
	max-width:1000px;
	border: 3px #000000;
	border-radius:7pt; /*  da estilo redondeado en las esquinas del div*/
}
/*  Div del que encierra section  */
#texto {
	width:90%;
	max-width:1000px;
	margin:5px auto;
}
section {
	color:#FFF;
	text-align:justify;
	border:3px #036;
	background-color:#066;
	border-radius:7pt;
	padding:2%;
}

section a:hover {
	color:#00F;
}

/*  Estilos para el Menú  */
header {
	width: 100%;
}

header nav {
	width:90%;
	max-width:1000px;/*para que no sobrepase los 1000px*/
	margin:3px auto;/*margen arriba y abajo de 3px de y a los lados automatico */
	background:#024959;
	border-radius:7pt;
}

.menu_bar {
	display:none; /*para desaparecer el menu*/
}

header nav ul {
	overflow:hidden; 
	list-style:none;/*quitamos las viñetas de las listas*/
}

header nav ul li {
	float:left; /*organiza los elementos del menu uno al lado del otro*/
}

header nav ul li a {
	color:#fff;
	padding:20px;
	display:block;/*con block podemos utilizar las propiedades del padding arriba y abajo, sino lo colocamos solo serviría a los lados*/
	text-decoration:none;/*para quitar el subrayado y demás*/
}

header nav ul li span {
	margin-right:10px;
}

header nav ul li a:hover { /*  Para cuando se pasa el puntero por encima*/
	background:#037E8C;
}

footer {
	margin:5px auto;
	border-radius:7pt;
	text-decoration:none;
	background:#003;
	max-width:1000px;
	width:90%;
}

footer  ul li {
	text-align:center;
	display:inline-block;
	list-style:none;
	text-decoration:none;
	margin:5px auto;
}

footer ul li a {
	display:block;
	font-size:20px;
	color:#FFF;
	text-decoration:none;
	padding:10px;
	margin:5px auto;
}

footer ul li a:hover {
	color:#FF0;
}	
/*  ESTILO CUANDO ES UNA PANTALLA de máximo 800px y minimo 321px  */
@media screen and (max-width:800px) {
	body { /*se dá padding arriba para que no se esconda bajo el menu fijo*/
		padding-top:60px;
	}
	h1, h2, h3, h4, h5, h6 {
		text-align:center;
	}
	#contenido {
		width:100%;
		text-align:left;
	}
	.cabecera { /*No aparece el banner*/
		display:none;
	}
	#texto {/*  se reconfigura el div que contiene section para que ocupe el 100% del dispositivo*/
		width:100%;	
	}
	header { /*  Estilos necesarios para que el menu quede fijo top al hacer scroll*/
		position:fixed; /*  rompe el flujo normal de organizacion*/
		left:0; /* posicion fija a la izquierda*/
		top:0;	/* posicion fija superior*/
	}
	header nav {
		width:80%;
		height:100%;
		text-align:left;
		left:-100%;
		margin:0;
		position:fixed;
	}
	header nav ul li {
		display:block;
		float:none;
		border-bottom:rgba(255, 255, 255);
	}
	.menu_bar {
		display:block;
		left:0;
		top:50px;
		width:100%;
		background:#ccc;
	}
	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:#024959;
		color:#fff;
		text-decoration:none;
		font-weight:bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;    /* esta propiedad se utiliza para que el margin y el padding no altere el ancho total de algo*/ 
		box-sizing:border-box; /*Ejem: un div con ancho de 200px, margin=5px y padding=10px sin box-sizing:border-box tendría un ancho total de 230px. Pero con la propiedad Box-sizing:border-box ajusta para que el ancho total de 200px se respete sin importar el margin o padding que le asignemos*/
	}
	.menu_bar span {/*  ubica el icono de menu responsive a la derecha */
		float:right;
		font-size:40px;
	}
	footer {
		width:100%;
		background:#FFF;
	}
	footer ul li {
		display:block;
		background:#003;
		margin:0px;
		font-size:12px;
		border:1px solid #FFF;
		border-radius:20pt;
	}
	footer ul li a:hover { /*Cuando se pasa el mouse por encima del menu del pie de pagina*/
		background:blue;
		color:#FF0;
		font-size:24px;
		font-weight:bold; /*Negrita*/
		border-radius:20pt; /*redondea las esquinas*/
	}
}	